*{
    padding: 0;
    margin: 0; 
    font-family: 'Roboto', sans-serif;
    /* background-color: white; */
    
}

/* headder start  */
.header {
background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
   position: relative;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    margin-top: 0px;
    padding: 20px 120px 18px 120px;
}

nav #get-access a{
 text-decoration: none;
 color: white;

}
nav #get-access{
    background-color: rgba(3, 116, 3, 0.808); 
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 10px;
}

nav li{
list-style: none;
display: inline;
margin: 20px;
font-size: 15px;
}
nav ul a {
    text-decoration: none;
    color: black;
}
    
/* headder end  */
/* main body start  */
.home {
 
    min-height: 80vh;
    display: flex;
    background: url(../assets/hero-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    color: white;
    
}
.home .stuck{
    background-color: white;
font-size: 2.5vh;
text-align: center;   
border-radius: 50px ;
border: 7px solid white;
color:  rgba(63, 150, 63, 0.808);
}


.home .Structured{
 display: inline ;
font-size: 8vh;
text-align: center;   
 /* justify-content: center;
 position: relative; */
}
.home .Structured #green{
color: rgba(34, 172, 34, 0.801);
}
.home .normal{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;   
   font-size: 18px;

}

.home .buttons{
    margin-top: 20px
}
/* button 1 of home  */
.home .buttons #start-button1 a{
    text-decoration: none;
    color: white;
}

.home .buttons #start-button1 #arrow{
font-size:20px;
}

.home .buttons #start-button1 {
    background-color: rgba(63, 150, 63, 0.808); 
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 30px;
    border-radius: 10px;
}
/* button 2 of home  */
.home .buttons #start-button2 a{
    text-decoration: none;
    color: white;
}
.home .buttons #start-button2 #arrow2{
font-size:20px;
}

.home .buttons #start-button2 {
    background-color: transparent;
    border: 1px solid white; 
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 30px;
    border-radius: 10px;
    margin-left: 10px;
}

.home #dot{
    border: 1px solid green;
    border-radius: 900000%; 
}
/* box section start  */


.boxmain {
text-align: center;
    /* padding: 50px 50px; */
    padding-top: 50px;
    background-color: #faf8f8;
}
.boxmain h1{
    font-size: 43px;
   font-family: Arial, Helvetica, sans-serif;
}
.boxmain #small{
    font-size: 15px;
 font-family: 'Times New Roman', Times, serif;
}

.container {
display: flex;
justify-content: center;
gap: 20px;
margin-top: 50px;
flex-wrap: wrap;


}
.card{
    background-color: white;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-shadow: 10px 10px 40px 40 rgba(rgb(26, 25, 25));
    border: 1px solid #f8f1f1;
}
.icon{
    background-color: red;
    width: 60px;
    height: 40px;
    border-radius: 50%;
    padding: 10px 5px;
    margin: 0 auto 25px;
}
.card h3{
    font-size: 20px;
    margin-bottom: 15px;
    color: black;
}
.card p{
    font-size: 14px;
    height: 50px;
}


/* solution box start  */

.solution-box{
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
}

.solution-img{
    width: 600px;
    height: 600px;

}
.solution-box .solution-img img{
    margin-left: 13%; 
    height: 600px;
    width: 600px;
}
.solution-text{
    margin: auto 0 auto 0px; 
    margin-right: 13%; 
}
.solution-box #solution-small{
    color: rgba(15, 134, 15, 0.767);
    font-size: 12px;
}

.solution-box #solution-normal{
 font-size: 11px;
font-family: Georgia, 'Times New Roman', Times, serif;
 color: #1c141488;
}

.solution-box .chake-circle{
  height: 15px;
}
 /* section box end  */
/* last section start  */

.last-section #get-access-footer{
    background-color: rgba(3, 116, 3, 0.808); 
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 10px;
}

.last-section #get-access-footer a{
 text-decoration: none;
 color: white;

}

.last-section-in{
    text-align: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
    border-radius: 20px;
}
.last-section{
    padding: 4% ;
}

.last-section-in .credit{
    font-size: 12px;
    color: #1c141488;
}

/* footer section start  */

/* Footer Section Styling */
.footer {
    background-color:rgba(0, 25, 49, 1); 
    color: white;
    padding: 55px 110px 20px 110px;
    font-family: 'Roboto', sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 40px;
}

.footer-logo img {
    height: 40px; 
}

.footer-social{
    text-align: right;
}

.footer-social p{
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 500;
    margin-right: 29px;
}

.social-icons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-right: 20px;
}

.social-icons img {
    width: 24px;
    height: 24px;

}


.footer #footer-line{
    border: 0;
    border-top: 1px solid rgba(157, 134, 134, 0.1);
    margin-bottom: 30px;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}
/* footer section end  */
/* hover  */

/* css full end  */